# Dependency directory
node_modules

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
yarn-error.log

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*

/dist
/coverage

# OS metadata
.DS_Store
Thumbs.db
